<h2>Hello  <%= current_user.name %>! </h2>
<% if current_user.teacher? || current_user.admin? %>
  <div id="study_session_form">
    <%= render :partial => 'form', :locals => {study_session: @study_session} %>
  </div>
<% end %>

<h3>Here are your study sessions:</h3>
<p class="separators">_______________________________________________</p>
<div id="new_session"></div>
<%= render :collection => @study_sessions, :partial => 'study_sessions/study_session', :as => 'study_session' %>
