<h1>Hello  <%= current_user.name %> </h1>
<h2>Here are your study sessions</h2>
<% @attendees.each do |attendance_record| %>
  <%= render :partial => 'study_sessions/study_session', :locals => {study_session: attendance_record.study_session} %>
<% end %>
